{% extends 'base.html.twig' %}
{% block stylesheet %}
<style>
    #calendar{
        width: 80%;
        margin: auto;
    }
</style>
{% endblock %}
{% block body %}

    <div id="calendar">
    
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarEl = document.querySelector("#calendar");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            })

            calendar.render()
        }
    </script>
{% endblock %}